@using isprojectHiT.Models
@model IEnumerable<Ethnicity>


<ul>
    @if (Model != null)
    {
        @foreach (Ethnicity e in Model)
        {
            <li>Sever@e.Name</li>
        }
    }
    else
    {
            <li>No Ethinicities found</li>
        }
</ul>